@import "../variables/colors";

.breadcrumb {
  background: $white;

  font-size: 18px;

  border-radius: 0;

  i {
    color: $color-theme-primary;
  }

  a {
    color: $color-theme-primary;

    &:hover,
    &:active,
    &:focus {
      color: $color-theme-primary;
    }
  }
}
