@import "../variables/sizes";
@import "../variables/colors";

.dropdown-menu.extended {
  top: 42px;

  width: 235px;
  min-width: 160px;
  max-width: 300px;

  padding: 0;

  border: 0;

  border-radius: 0;

  .link {
    display: inline-block;

    width: 100%;
    padding: $generic-spacing 10px;


    font-size: 12px;
    list-style: none;

    &:hover {
      background-color: $white;
    }
  }

  .progress {
    height: 10px;

    margin-bottom: 0;
  }
}

.dropdown-menu.logout {
  top: 50px;
  flex-wrap: wrap;

  .dropdown.open & {
    display: flex;
  }

  .link {
    width: 33.33333%;

    border-bottom: 0;

    text-align: center;

    .icon {
      display: block;
      font-size: 17px;
    }
  }

  .link:hover {
    background: none;

    .icon {
      color: color-variant($primary-color, lighter);
    }
  }

  .link:last-child {
    width: 100%;

    border-radius: 0;

    background: color-variant($sucess-color, dark);

    &,
    &:hover {
      border-bottom: 0;

      color: $white;

      text-transform: uppercase;
    }

    .icon {
      color: inherit;
    }
  }
}

.language {
  margin-top: 4px;

  .dropdown-menu {
    top: 46px;
    border: 0;

    a {
      padding: 10px;

      font-size: 13px;
    }

    a:last-child {
      border-bottom: none;
    }
  }
}
