@import "../variables/colors";

.form {
  .form-title {
    padding: 1rem;

    background-color: $color-theme-primary;

    color: $white;

    font-size: 1.4rem;
    font-style: italic;
    font-weight: bold;
  }

  .field-wrapper {
    padding: 2rem;
    padding-right: 0;

    background-color: $white;

    img {
      width: 100%;
      max-width: 100%;
    }
  }

  .row {
    display: flex;

    width: 100%;

    margin-right: 0;
    margin-bottom: .5rem;
    margin-left: 0;

    flex-direction: row;

    label {
      margin: 0;

      background-color: $gray-neutral-40;

      color: $white;

      flex: calc(100% / 6);
    }

    &.is-valid {
      label {
        background-color: $color-success;
      }
    }

    &.has-error {
      label {
        background-color: $color-danger;
      }
    }
  }
}
