@import "../variables/colors";

ul.form-collection {
  margin-top: 20px;

  li {
    margin-bottom: 20px;
    padding: 10px;


    overflow-y: auto;

    &.form-collection-add {
      border: 0 solid transparent;
      text-align: right;
    }
  }
}
