ul.form-collection {
  margin-top: 20px;

  li {
    border: 1px solid $gray-neutral-90;
    padding: 10px;
    margin-bottom: 20px;
    overflow-y: auto;

    &.form-collection-add {
      border: 0 solid transparent;
      text-align: right;
    }
  }
}
