%fullwidth_nav-link {
  background-color: $color-danger-light;
  text-decoration: none;
  color: $white;
  transition: all 0.3s ease 0s;
}

.full-width {
  .dropdown-menu {
    box-shadow: none;

    &.extended.logout > li > a:hover {
      background: none !important;
      color: $color-primary-lighter !important;
    }
    > li > a {
      padding: 10px 20px;
      font-size: 13px;
    }
  }

  #main-content {
    margin-left: 0;
  }

  .navbar-header {
    width: 100%;
  }

  .nav {
    li {
      &.dropdown {
        a:hover,
        &.open a:focus {
          @extend %fullwidth_nav-link;
        }
      }

      &.active a {
        @extend %fullwidth_nav-link;
      }
    }

    > li > a:hover {
      @extend %fullwidth_nav-link;
    }

    .open > a {
      &,
      &:hover,
      &:focus {
        @extend %fullwidth_nav-link;
      }
    }
  }
}
