@import "../variables/sizes";
@import "../variables/colors";
@import "../mixins/breakpoints";
$figure-spacing--sides: 15px !default;
$figure-spacing--bottom: $generic-spacing !default;
$figure-size: calc(100% - #{$figure-spacing--sides} * 2);

.mediatheque {
  display: flex;

  margin: 0;

  flex-wrap: wrap;

  .figure {
    position: relative;

    width: $figure-size;

    height: 0;

    margin: $figure-spacing--bottom $figure-spacing--sides;

    padding-bottom: $figure-size;

    border-radius: 0;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    overflow: hidden;

    @include breakpoint(phablet) {
      $figure-size: calc(100% / 2 - #{$figure-spacing--sides} * 2);

      width: $figure-size;

      padding-bottom: $figure-size;
    }
    @include breakpoint(laptop) {
      $figure-size: calc(100% / 3 - #{$figure-spacing--sides} * 2);

      width: $figure-size;

      padding-bottom: $figure-size;
    }
    @include breakpoint(desktop) {
      $figure-size: calc(100% / 4 - #{$figure-spacing--sides} * 2);

      width: $figure-size;

      padding-bottom: $figure-size;
    }
    @include breakpoint(widescreen) {
      $figure-size: calc(100% / 6 - #{$figure-spacing--sides} * 2);

      width: $figure-size;

      padding-bottom: $figure-size;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;

      height: 100%;

      transition: all ease .3s;

      background-color: color-variant($black, 'lighter');

      content: "";
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      .actions {
        opacity: 1;
        visibility: visible;
      }
      .caption {
        opacity: 1;
        visibility: visible;
      }

      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .actions {
    position: absolute;
    top: 10px;
    right: 10px;

    transition: all .3s ease;

    opacity: 0;
    visibility: hidden;
    z-index: 1;

    .btn {
      padding: .50rem;
    }

    .fa {
      width: 1.5rem;

      height: 1.5rem;

      font-size: 1.5rem;
    }
  }

  .caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 10px;

    transition: all .3s ease;

    color: $white;

    font-weight: bold;

    opacity: 0;
    visibility: hidden;
    z-index: 1;
  }
}
