.navbar-inverse {
  background-color: $gray-navy-lighter;
  border-color: $gray-navy-lighter;

  .navbar-nav {
    > li {
      > a,
      > ul > li a:hover {
        color: $white;
      }

      a:hover {
        color: $gray-navy-darker;
      }
    }

    > .active > a {
      &,
      &:hover,
      &:focus {
        background-color: $gray-navy;
      }
    }

    > .open > a {
      &,
      &:focus {
        background-color: $gray-navy;
      }
    }

    > .dropdown > a .caret {
      border-bottom-color: $white;
      border-top-color: $white;
    }

    > .open .dropdown-menu > li > a {
      color: $black;

      &:hover {
        color: $white;
      }
    }
  }

  .navbar-brand {
    color: $white;
  }
}

.nav-justified {
  width: auto !important;

  li {
    &:last-child > a:hover,
    &.active:last-child > a {
      border-radius: 0 4px 0 0 !important;
    }
  }
}
