%card-tabs {
  display: inline-block;

  width: 100%;
  padding: 0;

  border: 0;

  .tabs-list {
    display: inline-flex;
    flex-direction: row;

    width: 100%;

    margin: 0;
    padding: 0;

    border-bottom: 0;

    .tab {
      display: flex;
      flex: 1;
      margin: 0;

      a {
        display: block;

        width: 100%;
        height: 100%;

        padding: $generic-spacing;
        margin: 0;

        border: none;


        text-align: center;

        .icon {
          display: block;


          font-size: 16px;
        }

        &:hover {
          position: relative;

          background: $white;

          .icon {
            color: $primary-color;
          }
        }

        &.active {
          position: relative;

          background: $white;

          border-bottom: 0;

          .icon {
            color: $primary-color;
          }
        }
      }

      &:last-child a {
        border-right: none;
      }
    }
  }

  &.card-footer {
    .tabs-list {
      border-radius: 0;

      .tab {
        a{
          border-radius: 0;

          &.active {
            border-top-color: transparent;
          }
        }

        &:first-child a {
          border-radius: 0;
        }

        &:last-child a {
          border-right: none;
          border-radius: 0;
        }
      }
    }
  }
}
