@import "../variables/sizes";
@import "../variables/colors";

@import "panel-heading";
@import "panel-tabs";
@import "panel-signets";

.card {
  display: flex;
  flex-direction: column;
  background-color: $gray-neutral-95;
}

.card-sponsor {
  display: flex;
  flex-direction: column;
  background-color: $gray-neutral-95;
}

.card-block {
  flex: 1;
  background: $white;

  &:last-child {
    border-radius: 0;
  }
}

.card-block-sponsor {
  flex: 1;

  &:last-child {
    border-radius: 0;
  }
}

.card-header {
  @extend %card-header;
}

.card-tabs {
  @extend %card-tabs;
}

.card-signets {
  @extend %card-signets;
}
