@import "../variables/colors";

.table {
  thead {
    tr {
      background-color: $gray-neutral-95;
    }
  }

  tbody {
    tr:nth-child(2n){
      background-color: $gray-neutral-95;
    }
  }

  .fa {
    padding: 0.2rem 0.5rem;

    color: $white;

    border-radius: 10px;
  }

  .fa-check {
    background-color: transparentize($color-success, 0.4);
  }

  .fa-close {
    background-color: transparentize($color-danger, 0.4);
  }
}
