@import "../variables/colors";

.table {


  tbody {
    tr {
      background-color: $white;
    }
  }

  .fa {
    width: 2rem;

    padding: .2rem .5rem;

    border-radius: 0;

    color: $white;

    text-align: center;
  }

  .fa-check {
    background-color: transparentize($sucess-color, .4);
  }

  .fa-close {
    background-color: transparentize($alert-color, .4);
  }
}
