@import "../variables/colors";

.table {
  thead {
    tr {
      background-color: $gray-neutral-95;
    }
  }

  tbody {
    tr {
      background-color: $white;
    }

    tr:nth-child(2n) {
      background-color: $gray-neutral-95;
    }
  }

  .fa {
    width: 2rem;

    padding: .2rem .5rem;

    border-radius: 0;

    color: $white;

    text-align: center;
  }

  .fa-check {
    background-color: transparentize($color-success, .4);
  }

  .fa-close {
    background-color: transparentize($color-danger, .4);
  }
}
