@import "../variables/sizes";
@import "../variables/colors";

%timeline_item-pseudo {
  display: block;

  width: 50%;

  content: "";
}

.timeline {
  $line-width: 2px;
  $line-icon-size: 12px;

  display: table;
  position: relative;

  width: 100%;

  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;

    width: $line-width;
    margin-left: -($line-width / 2);


    content: "";

    z-index: 0;
  }

  .timeline-item {
    display: table-row;
    position: relative;

    .timeline-point {
      position: absolute;
      left: 50%;
      margin-left: -($line-icon-size / 2);

      .timeline-icon {
        display: block;
        position: relative;
        top: $generic-spacing;

        width: $line-icon-size;
        height: $line-icon-size;

        border: 3px solid $white;
        border-radius: 50%;



        &.red {
          background: $alert-color;
          box-shadow: 0 0 1px 3px $alert-color;
        }

        &.green {
          background: $sucess-color;
          box-shadow: 0 0 1px 3px $sucess-color;
        }

        &.blue {
          background: color-variant($primary-color, lighter);
          box-shadow: 0 0 1px 3px color-variant($primary-color, lighter);
        }

        &.purple {
          background: $info-color;
          box-shadow: 0 0 1px 3px $info-color;
        }

        &.light-green {
          background: color-variant($sucess-color, lighter);
          box-shadow: 0 0 1px 3px color-variant($sucess-color, lighter);
        }
      }

      .timeline-date {
        position: relative;
        left: -70px;
      }
    }

    .timeline-desk {
      display: block;

      width: 50%;
      margin-right: 0;
      margin-left: auto;

      vertical-align: top;

      h2 {
        margin: 0 0 5px;

        font-size: 16px;
        font-weight: 300;
      }

      p {
        margin-bottom: 0;

        font-size: 12px;
      }

      .arrow {
        display: block;

        position: absolute;
        top: 13px;
        left: -7px;

        width: 0;
        height: 0;

        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
      }

      .card {
        position: relative;

        margin-bottom: 5px;
        margin-left: 25px;


        .card-block {
          margin-top: -3px;
        }
      }
    }

    &::before {
      @extend %timeline_item-pseudo;
    }

    &.alt {
      &::before {
        display: none;
      }

      &::after {
        @extend %timeline_item-pseudo;
      }

      .timeline-date {
        right: -25px;
        left: auto;
      }

      .timeline-desk {
        margin-right: auto;
        margin-left: 0;

        text-align: right;

        .arrow {
          right: -7px;
          left: auto;

          border-right: 0 solid transparent;
        }

        .card {
          margin-right: 25px;
          margin-left: 0;
        }
      }
    }
  }

  .time-icon::before {
    margin-top: 5px;

    font-size: 16px;
  }
}
