.top-nav {
  margin-top: 7px;

  .username {
    color: $gray-neutral-30;

    font-size: 13px;
  }

  .language {
    margin-top: 4px;

    .dropdown-menu {
      border: 1px solid $gray-neutral-90;

      box-shadow: 0 2px 3px $black-a20 !important;

      li a {
        padding: 10px;

        border-bottom: 1px solid $gray-neutral-90;

        font-size: 13px;
      }

      li:last-child a {
        border-bottom: none;
      }
    }
  }

  ul.top-menu > li {
    float: left;

    > a {
      margin-right: 15px;
      padding: 2px 6px;

      border: 1px solid $gray-procelain !important;
      border-radius: 4px;

      color: $gray-neutral-40;

      font-size: 16px;

      &:hover,
      &:focus {
        // scss-lint:disable all
        border: 1px solid $gray-procelain !important;
        border-color: $gray-procelain !important;
        border-radius: 4px;

        color: $gray-neutral-20 !important;

        background-color: $white!important;

        text-decoration: none;
      }
    }
  }

  ul.top-menu > li {
    margin-left: 10px;

    .dropdown-menu.logout {
      width: 268px !important;
    }

    > a {
      margin-right: 0;
      padding: 6px;

      border: 1px solid $gray-neutral-90;
      border-radius: 4px;

      background: none;

      &:hover {
        border: 1px solid $gray-procelain;

        background: $gray-procelain;

        .caret {
          border-top-color: $black;
          border-bottom-color: $black;
        }
      }

      &:focus {
        border: 1px solid $gray-procelain;

        background: $gray-procelain;
      }
    }
  }

  li.dropdown .dropdown-menu {
    right: 0;
    left: auto;

    float: right;
  }

  .dropdown-menu.extended.logout {
    top: 50px;
  }

  .nav .caret {
    border-top-color: $gray-night;
    border-bottom-color: $gray-night;
  }
}
