@import "../variables/colors";

$toolbar-elmnt-padding: 1rem;

.top-toolbar {
  display: flex;

  height: 65px;

  background-color: $white;

  justify-content: space-between;

  .btn-group {
    display: flex;
  }

  .toolbar-title {
    display: flex;

    padding: $toolbar-elmnt-padding;

    background-color: $primary-color;

    color: $white;

    font-weight: bold;

    align-items: center;
  }

  .full-width {
    width: 100%;
  }

  .tabs-list {
    display: flex;

    max-width: 50%;

    border-bottom: 0;

    align-items: shrink;
    flex-direction: row;
    flex-wrap: wrap;

    .tab {
      display: flex;

      min-width: 0;

      margin: 0;

      flex: 1 1 0px;
      align-items: center;

      .nav-link {
        width: 100%;

        margin: 0;

        padding: $toolbar-elmnt-padding;

        border: none;

        border-radius: 0;


        .title {
          font-size: 1rem;
          font-weight: bold;
        }

        .infos {
          font-size: .9rem;
        }

      }

      span {
        display: block;

        text-overflow: ellipsis;

        white-space: nowrap;

        overflow: hidden;
      }

      &.tab-title {
        background-color: $primary-color;

        span {
          padding: $toolbar-elmnt-padding;

          color: $white;

          font-style: italic;
          font-weight: bold;
        }
      }
    }
  }
}
