@import "../variables/colors";

.top-nav {
  float: right;
  margin-top: 7px;

  .username {
    color: color-variant($secondary-color, lighter);

    font-size: 13px;
  }

  ul.top-menu > li {
    margin-left: 10px;
    float: left;

    > a {
      margin-right: 0;
      padding: 6px;

      border-radius: 0;

      background: none;


      &:hover {
        // scss-lint:disable all
        border-radius: 0;

        color: color-variant($secondary-color, light);


        text-decoration: none;

        .caret {
          border-top-color: $black;
          border-bottom-color: $black;
        }
      }


    }

    .dropdown-menu.logout {
      width: 268px !important;
    }
  }

  .dropdown-menu {
    right: 0;
    left: auto;
  }

  .nav li a {
    display: block;
  }


}
