@import "../variables/fonts";
@import "../variables/colors";

body, html {
  // scss-lint:disable all
  margin: 0 !important;
  padding: 0 !important;
  // scss-lint:enable

  background: $color-bg-body;
  color: $gray-neutral-40;

  font-family: $font-0, $font-1;
  font-size: 14px;
}

a {
  &,
  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

ul li {
  list-style: none;
}

.bold {
  font-weight: bold;
}
