.order-attribution {
    .screen-loader {
        .content-screen-loader {
            background: $white-a60;
        }
    }
    #zone-droppable {
        .panel-body {
            #verification-droppable {
                font-size: 35px;
            }
        }
    }
}
// OrderBundle:Order:summarize
#order-summarize {
    .summarize-header {
        background: $color_info-dark;
        color: $white;
    }
    .order {
        background: $gray_procelain;
    }
}
