$pre_colors: #79309F;
$drop_colors: #01579B #0277BD #039BE5 #81D4FA;
$park_colors: #4CAF50;
$return_colors: #FF6F00 #FF8F00 #FFB300 #FFD54F;

#map-canvas {
    cursor: pointer;
}

.map-search-bar {
    color: $gray_navy;

    input.search {
        color: inherit;
        border-color: $gray_navy;
        box-shadow: none;
        font-weight: 300;
    }
    .state {
        font-size: 1.2em
    }
    &.success {
        color: $color_success;
        input.search {
            border-color: $color_success;
        }
    }
    &.pending {
        color: $color_warning;
        input.search {
            border-color: $color_warning;
        }
    }
    &.error {
        color: $color_danger;
        input.search {
            border-color: $color_danger;
        }
    }
}

.list-panel {
    [role="state-preconfirmed"] {
        & > *:hover,
        &.active {
            .icon {
                color: nth($pre_colors, 1) !important;
            }
        }
        .badge {
            background: nth($pre_colors, 1);
        }
    }
    [role="state-confirmed"] {
        & > *:hover,
        &.active {
            .icon {
                color: nth($drop_colors, 1) !important;
            }
        }
        .badge {
            background: nth($drop_colors, 1);
        }
    }
    [role="state-valet_waiting"] {
        & > *:hover,
        &.active {
            .icon {
                color: nth($drop_colors, 2) !important;
            }
        }
        .badge {
            background: nth($drop_colors, 1);
        }
    }
    [role="state-assigned"] {
        & > *:hover,
        &.active {
            .icon {
                color: nth($drop_colors, 3) !important;
            }
        }
        .badge {
            background: nth($drop_colors, 1);
        }
    }
    [role="state-dropped"] {
        & > *:hover,
        &.active {
            .icon {
                color: nth($drop_colors, 4) !important;
            }
        }
        .badge {
            background: nth($drop_colors, 1);
        }
    }
    [role="state-parked"] {
        & > *:hover,
        &.active {
            .icon {
                color: nth($park_colors, 1) !important;
            }
        }
        .badge {
            background: nth($park_colors, 1);
        }
    }
    [role="state-return_confirmed"] {
        & > *:hover,
        &.active {
            .icon {
                color: nth($return_colors, 1) !important;
            }
        }
        .badge {
            background: nth($return_colors, 1);
        }
    }
    [role="state-valet_proposed"] {
        & > *:hover,
        &.active {
            .icon {
                color: nth($return_colors, 2) !important;
            }
        }
        .badge {
            background: nth($return_colors, 1);
        }
    }
    [role="state-missioned"] {
        & > *:hover,
        &.active {
            .icon {
                color: nth($return_colors, 3) !important;
            }
        }
        .badge {
            background: nth($return_colors, 1);
        }
    }
    [role="state-returning"] {
        & > *:hover,
        &.active {
            .icon {
                color: nth($return_colors, 4) !important;
            }
        }
        .badge {
            background: nth($return_colors, 1);
        }
    }
    .spinner {
        font-weight: bold;
        font-style: italic;
        color: $color_danger-light;
    }
    .list-element {
        border-bottom: 1px solid $gray_neutral-80;

        &:last-child {
            border-bottom: 0;
        }
        &.active {
            background-color: $color_danger-lighter;
        }
        &.selectable {
            cursor: pointer;
        }
    }
    .btn:hover {
        border-color: $color_danger-lighter;
        background-color: $color_danger-lighter;
        color: $white;
    }
    .btn.active {
        border-color: $color_danger;
        background-color: $color_danger;
        color: $white;
    }
}
