.pdf {
    .header {
        position: static;
        padding-bottom: 20px;
        .logo {
            padding: 10px 0;
            img {
                width: 200px;
            }
        }
        .header-main-content {
            margin-top: 20px;
            .content-top {
                line-height: 5em;
                &::after {
                    content: '';
                    display: block;
                    height: 1px;
                }
                .price {
                    span {
                        font-size: 3em;
                    }
                    sup {
                        font-size: 1em;
                        top: -1.5em;
                    }
                }
                .thanks {
                    margin-top: 10px;
                }
            }
            .content-bottom {
                .visa {
                    margin-top: 15px;
                }
            }
        }
    }
    .wrapper {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .content-header {
        h3 {
            width: 100%;
            border-bottom: 1px solid transparent;
            line-height: 0.1em;
            margin: 30px 0 30px;
            span {
                padding: 0 100px;
            }
        }
    }
    .content {
        h4 {
            border-bottom: 1px solid transparent;
            font-size: 18px;
            padding-bottom: 10px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            thead {
                border-bottom: 1px solid transparent;
            }
            tfoot, .border-top  {
                border-top: 1px solid transparent;
            }
            th {
                font-size: 1.2em;
                padding: 10px 0;
            }
            td {
                padding: 5px 0;
            }
        }
    }
    .footer {
        padding: 0;
        p {
            margin: 0;
        }
        .footer-top {
            border-top: 1px solid transparent;
            padding-bottom: 10px;
            padding-top: 10px;
        }
        .footer-middle {
            height: 20px;
        }
        .footer-bottom {
            padding-bottom: 20px;
            padding-top: 20px;
        }
    }
    &.vehicle_check {
        .content {
            table {
                tr {
                    border-bottom: 1px solid transparent;
                }
            }
        }
    }
}
