.dropdown-menu.extended {
	max-width: 300px !important;
	min-width: 160px !important;
	top: 42px;
	width: 235px !important;
	padding: 0;
	box-shadow: 0 2px 5px $black-a20 !important;
	border: none !important;
	border-radius: 4px;
	li {
		p {
			background-color: $gray_procelain;
			color: $gray_neutral-40;
			margin: 0;
			padding: 10px;
			border-radius: 4px 4px 0 0;
			&.green {
				background-color: $color_success-dark;
				color: $white;
			}
			&.red {
				background-color: $color_danger-dark;
				color: $white;
			}
			&.yellow {
				background-color: $color_warning-light;
				color: $white;
			}
		}
		a {
			border-bottom: 1px solid $gray_neutral-90 !important;
			font-size: 12px;
			list-style: none;
			padding: 15px 10px !important;
			width: 100%;
			display: inline-block;
			&:hover {
				background-color: $gray_procelain !important;
				color: $gray_neutral-20;
			}
		}
	}
	.progress {
		margin-bottom: 0 !important;
		height: 10px;
	}
	&.logout > li {
		float: left;
		text-align: center;
		width: 33.3%;
		&:last-child {
			float: left;
			text-align: center;
			width: 100%;
			background: $color_success-dark;
			border-radius: 0 0 3px 3px;
			> a {
				&,
				&:hover {
					color: $white;
					border-bottom: none !important;
					text-transform: uppercase;
					> i {
						color: $white;
					}
				}
			}
		}
		> a {
			color: $gray_night;
			border-bottom: none !important;
			&:hover {
				background: none !important;
				i {
					color: $color_info-lighter;
				}
			}
			i {
				font-size: 17px;
			}
			> i {
				display: block;
			}
		}
	}
}
