.login-body {
	background-color: $gray_procelain;
}
.form-signin {
	max-width: 330px;
	margin: 100px auto 0;
	background: $white;
	border-radius: 5px;
	.checkbox {
		margin-bottom: 14px;
		color: $gray_neutral-70;
		font-weight: 300;
		font-family: $font_0, $font_1;
	}
	.form-control {
		position: relative;
		font-size: 16px;
		height: auto;
		padding: 10px;
		box-sizing: border-box;
		&:focus {
			z-index: 2;
		}
	}
	input[type="text"],
	input[type="password"] {
		margin-bottom: 15px;
		border-radius: 5px;
		border: 1px solid $gray_neutral-90;
		box-shadow: none;
		font-size: 12px;
	}
	.btn-login {
		background: $color_danger-light;
		color: $white;
		text-transform: uppercase;
		font-weight: 300;
		font-family: $font_0, $font_1;
		box-shadow: 0 4px $color_danger-dark;
		margin-bottom: 20px;
	}
	p {
		text-align: center;
		color: $gray_neutral-70;
		font-size: 16px;
		font-weight: 300;
	}
	a {
		color: $color_primary;
		&:hover {
			color: $gray_neutral-70;
		}
	}
	h2.form-signin-heading {
		margin: 0;
		padding: 20px 15px;
		text-align: center;
		background: $color_primary;
		border-radius: 5px 5px 0 0;
		color: $white;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 300;
		font-family: $font_0, $font_1;
	}
}
.login-wrap {
	padding: 20px;
}
.log-arrow-up {
	background: $url_arrow-up no-repeat;
	width: 20px;
	height: 11px;
	position: absolute;
	right: 20px;
	top: -10px;
}
