%panel-heading {
	display: flex;
	flex-direction: row;
	line-height: 50px;
	padding: 0 16px;
	border-radius: 4px 4px 0 0;

	&.collapsible {
		display: block;
	}
	&.tab-right {
		.nav > li {
			&:first-child.active > a {
				border-radius: 0;
			}
			&:last-child.active > a {
				border-radius: 0 4px 0 0;
			}
		}
		.nav-tabs > li > a {
			margin-left: 1px;
			margin-right: 0;
		}
	}
	&.composed {
		padding: 0;

		h3 {
			flex: 1;
			padding: 0 10px;
			font-size: 16px;
			font-weight: 300;
		}
		.combo {
			padding: 0 16px;
			line-height: inherit;
			background: $black-a20;
			border-radius: 4px 0 0 0;
			color: inherit;
			text-align: center;

			i {
				font-size: 16px;
				vertical-align: middle;
			}
			&:first-child {
				width: 50px;
			}
			&.pull-right {
				border-radius: 0 4px 0 0;
				font-size: 12px;
			}
		}
		a.combo:hover {
			background: $black-a30;
		}
	}

	.nav {
		border: medium none;
		font-size: 13px;
		margin: 0 -16px -1px;
		> li {
			&:first-child {
				&.active > a {
					border-radius: 4px 0 0 0;
				}
				> a:hover {
					border-radius: 4px 0 0 0;
				}
			}
			> a {
				border-width: 0;
				border-radius: 0;
				color: $white;
				&:hover {
					color: $gray_navy-dark;
					background: $white;
				}
			}
			&.active > a {
				border-width: 0;
				border-radius: 0;
				color: $gray_navy-dark;
				background: $white;
				&:hover {
					border-width: 0;
					border-radius: 0;
				}
				&:focus {
					border-width: 0;
					border-radius: 0;
				}
			}
		}
	}
	span.actions {
		a {
			color: $gray_neutral-60;
			font-size: 12px;
			margin-left: 10px;
		}
	}
}
