::selection {
  background: $black-a20;
  color: $white;
}

.header {
  background: $white;
  border-bottom: 1px solid $gray-procelain;
}

.fontawesome-icon-list {
  h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 300;
  }

  .col-sm-4 {
    margin-bottom: 10px;
  }

  .col-md-3 {
    margin-bottom: 10px;
  }

  .col-xs-6 {
    margin-bottom: 10px;
  }

  .page-header {
    border-bottom: 1px solid $gray-neutral-80;
  }

  a {
    color: $gray-neutral-40;

    &:hover {
      color: $color-accent-dark;
    }
  }

  i {
    font-size: 16px;
    padding-right: 10px;
  }
}

.bg-main {
  color: $white;

  background: $color-bg-main;
}

.bg-alt {
  color: $white;

  background: $color-bg-alt;
}
