@import "../variables/colors";

::selection {
  background: color-variant($secondary-color, light);
  color: $white;
}

.header {

  background: $white;
}

.fontawesome-icon-list {
  h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 300;
  }

  .col-sm-4 {
    margin-bottom: 10px;
  }

  .col-md-3 {
    margin-bottom: 10px;
  }

  .col-xs-6 {
    margin-bottom: 10px;
  }


  a {
    color: color-variant($secondary-color, light);

    &:hover {
      color: color-variant($secondary-color, dark);
    }
  }

  i {
    padding-right: 10px;

    font-size: 16px;
  }
}

.bg-main {
  background: $primary-color;

  color: $white;
}

.bg-alt {
  background: color-variant($primary-color, dark);

  color: $white;
}
