@import "../variables/colors";

.component-bloc {
  margin: 0;
  margin-bottom: 2rem;

  .component-title {
    margin-bottom: 0;

    padding: 0 1rem;

    background-color: $white;

    color: $primary-color;

    font-size: 1.2rem;

    line-height: 50px;

    &.bg-main {
      background-color: $primary-color;

      color: $white;
    }
  }
}

.container-clipboard {
  position: relative;

  .fa-clipboard {
    position: absolute;
    top: 50%;
    right: 10px;

    transform: translateY(-50%);

    cursor: pointer;

    .clip-done {
      position: absolute;
      top: 50%;
      right: calc(100% + 5px);

      padding: 5px;

      transform: translateY(-50%);

      background-color: $primary-color;

      color: $white;
    }

    &.icon-blue {
      color: $primary-color;
    }
  }
}
