$primary-color: #5aa4d2 !default;
$secondary-color: #2c2b2b !default;
$sucess-color: #77be2b !default;
$warning-color: #d6b51d !default;
$alert-color: #cc0000 !default;
$info-color: #0aa292 !default;

$white: #FFF;
$black: #000;
