$generic-spacing: 15px !default;

$nav-width: 15rem !default;
$nav-icon-width: 4rem !default;
$nav-item-spacing--fix: 20px !default;
$nav-item-padding--fix: 15px !default;
$nav-item-spacing--fluid: 1rem !default;
$nav-item-padding--fluid: 1rem !default;
