$url-nav-expand: url(../img/nav-expand.png) !default;
$url-arrow-up: url(../img/arrow-up.png) !default;
$url-seach: url(../img/search-icon.jpg) !default;
$url-arrow-left: url(../img/left-arrow.png) !default;
$url-arrow-right: url(../img/right-arrow.png) !default;
$url-icon404: url(../img/404_icon.png) !default;
$url-icon500: url(../img/500_icon.png) !default;
$url-mask: url(../img/mask.png) !default;
$url-radio-off: url(../img/checkbox/radio-off.png) !default;
$url-check-off: url(../img/checkbox/check-off.png) !default;
$url-check-on: url(../img/checkbox/check-on.png) !default;
$url-radio-on: url(../img/checkbox/radio-on.png) !default;
$url-arrow-select: url(../img/customSelect-arrow.gif) !default;
